name: Test all tutorials
run-name: Test all tutorials

on:
  pull_request:
    branches:
      - master

env:
  PRIVATE_KEY: 'b6b15c8cb491557369f3c7d2c287b053eb229daa9c22138887752191c9520659'
  CHAIN_RPC: 'http://127.0.0.1:3347'
  PARENT_CHAIN_RPC: 'http://127.0.0.1:8547'
  # Env variables for specific tutorials
  L1_RPC: 'http://127.0.0.1:8545'
  TransferTo: '0x3f1Eae7D46d88F08fc2F8ed27FCb2AB183EB2d0E'

jobs:
  test-all-eth:
    name: Test all tutorials (ETH-based chain)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore node_modules
        uses: OffchainLabs/actions/node-modules/install@main

      - name: Set up the local node
        # https://github.com/OffchainLabs/actions/blob/feat-simplify/run-nitro-test-node/action.yml
        uses: OffchainLabs/actions/run-nitro-test-node@feat-simplify
        with:
          nitro-testnode-ref: release
          args: --tokenbridge --l3node --l3-token-bridge

      - name: Update custom network file
        env:
          ORBIT_TEST: '1'
        run: yarn update-custom-network

      - name: Test
        run: yarn run testAll

  test-all-custom-gas:
    name: Test all tutorials (Custom-gas-token chain)
    runs-on: ubuntu-latest
    env:
      # We need to use the account that has the native token (the L3 rollup owner)
      PRIVATE_KEY: 'ecdf21cb41c65afb51f91df408b7656e2c8739a5877f2814add0afd780cc210e'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore node_modules
        uses: OffchainLabs/actions/node-modules/install@main

      - name: Set up the local node
        # https://github.com/OffchainLabs/actions/blob/feat-simplify/run-nitro-test-node/action.yml
        uses: OffchainLabs/actions/run-nitro-test-node@feat-simplify
        with:
          nitro-testnode-ref: release
          args: --tokenbridge --l3node --l3-token-bridge --l3-fee-token

      - name: Update custom network file
        env:
          ORBIT_TEST: '1'
        run: yarn update-custom-network

      - name: Test
        run: yarn run testAll
